<!-- <div class="jumbotron">
    <h1 class="title">火龙果</h1>
    <p class="slogan">没有吃不到的火龙果。
    <br>
    各种爆眼球的火龙果吃法，全身变红人
    <br>
     看到红色便便不要哭
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">我的故事</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/%E5%B0%81%E9%9D%A2%E5%9B%BE1l.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>海南昌江黎族西风镇</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/uncle.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>xia@test.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/%E6%B0%B4%E6%9E%9C%E5%AE%B4.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>0898-12345678</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!DOCTYPE html>
  <html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">


  <!-- Sidebar (hidden by default) -->
  <nav class="w3-sidebar w3-bar-block w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
    class="w3-bar-item w3-button">火龙果园</a>
    <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">热带水果</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">关于我</a>
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:2000px;margin-top:10px">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>

       <html lang="en">
       <head>
         <title>Bootstrap Example</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       </head>

       <body>
       <div class="container">
         <p class="lead"><a class="btn btn-lg btn-danger" href="/products">我的购物篮</a></p>
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner">
             <div class="item active">
               <img src="http://oous4398f.bkt.clouddn.com/pitaya%20%E9%A2%98%E5%9B%BE.jpg" alt="Los Angeles" style="width:100%;">
             </div>

             <div class="item">
               <img src="http://oous4398f.bkt.clouddn.com/uncle.jpg" alt="Chicago" style="width:100%;">
             </div>

             <div class="item">
               <img src="http://oous4398f.bkt.clouddn.com/%E8%8F%A0%E8%90%9D%E5%A4%A7%E5%A6%88%E6%96%B0%E7%89%88" alt="New york" style="width:100%;">
             </div>
           </div>

           <!-- Left and right controls -->
           <a class="left carousel-control" href="#myCarousel" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#myCarousel" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>
       </div>

      </body>
      </html>
      </div>

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="food" id="food">
      <!-- <div class="w3-quarter"> -->
      <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E6%B0%B4%E6%9E%9C%E5%AE%B4.jpg" alt="能量棒" style="width:100%">
        <h4>早餐能量棒</h4>
        <p>美好的一天从鲜果开始</p>
      </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E6%A0%91%E4%B8%8A%E7%81%AB%E9%BE%99%E6%9E%9C.jpg" alt="Pasta and Wine" style="width:100%">
        <h4>单品冠军</h4>
        <p>个大体壮内心甜.</p>
      </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E5%A5%B3%E5%B7%A5%E9%87%87%E6%91%98%E4%B8%8A%E7%BD%91.jpg" alt="Popsicle" style="width:100%">
        <h4>采摘小妹</h4>
        <p>艳阳高温下劳动</p>
      </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E6%9E%9C%E5%9B%AD%E5%85%A8%E6%99%AF" alt="Croissant" style="width:100%">
        <h4>挂果怒放</h4>
        <p>日出时的果园</p>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="col-md-3 col-sm-3 col-xs-6">
      <img src="http://oous4398f.bkt.clouddn.com/%E5%86%B0%E6%B2%99.jpg" alt="Steak" style="width:100%">
      <h4>妞，来一杯</h4>
      <p>鲜果制成的冰沙 .</p>
    </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E8%9C%97%E7%89%9B.jpg" alt="Salmon" style="width:100%">
        <h4>慕名来的蜗牛</h4>
        <p> 见证大自然神奇.</p>
      </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="http://oous4398f.bkt.clouddn.com/%E8%B7%B3%E5%A5%B3%E5%AD%A9.jpg" alt="Sandwich" style="width:100%">
        <h4>我为火龙果代言</h4>
        <p>火龙果，我只吃海南老夏家的.</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">   
      <img src="http://oous4398f.bkt.clouddn.com/%E5%86%9C%E5%9C%BA%E7%BA%A2%E6%9E%9C.JPG" alt="Cherries" style="width:100%">

      <h4>5斤装</h4>
      <p>怒放结果的火龙果.</p>
    </div>
    </div>

    <!-- Pagination -->
    <!-- <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div> -->
    </div>

    <hr id="关于我">

    <!-- About Section -->
     <div class="w3-container w3-padding-32 w3-center">
      <h3>关于我</h3><br>
      <img src="http://oous4398f.bkt.clouddn.com/uncle.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="700" height="530">
      <div class="w3-padding-32">
        <h4><b>I am Who I Am!</b></h4>
        <h6><i>我，来自海南昌江黎族自治县，做土地食物和消费者的连接者</i></h6>
        <p>感恩土地的馈赠，分享质朴的心意 </p>
        <p>专注用心照顾火龙果，提升品质，让每一颗果实，都天然无毒健康 </p>
      </div>
    </div>
    <hr>


    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-third">
        <h3>联系方式</h3>
        <p>果园地址：海南昌江黎族自治县西凤镇.</p>
          <p>电话：0898-12345678.</p>
          <p>客服：18689801169.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>

      <div class="w3-third">
        <h3>关注我，扫一扫</h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img src="http://oous4398f.bkt.clouddn.com/%E4%BA%8C%E7%BB%B4%E7%A0%81" class="w3-left w3-margin-right" style="width:60px">
            <span class="w3-large">微信二维码</span><br>
            <span>缤岛果园：bindaoguoyuan</span>
          </li>
          <li class="w3-padding-16">
            <img src="http://oous4398f.bkt.clouddn.com/%E4%BA%8C%E7%BB%B4%E7%A0%81" class="w3-left w3-margin-right" style="width:60px">
            <span class="w3-large">今日头条号:bindaoguoyuan</span><br>
            <span>缤岛果园</span>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif">
        <h3>获奖标志</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">单品冠军🏆</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">大南方</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">海尾7号</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">海南冠军🏆</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">今日头条</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">小密圈</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">米其林</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">下厨房</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">饭团</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">纽约客</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">美食家</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">东方大卖场</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">海南日报</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">自然生态园</span>
        </p>
      </div>
    </footer>

  <!-- End page content -->
  </div>

  <script>
  // Script to open and close sidebar
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
  }
  </script>

  </body>
  </html>
