<div class="jumbotron">
    <h1 class="title">火龙果</h1>
    <p class="slogan">没有吃不到的火龙果。
    <br>
    各种爆眼球的火龙果吃法，全身变红人
    <br>
     看到红色便便不要哭
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">我的故事</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/%E5%B0%81%E9%9D%A2%E5%9B%BE1l.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>海南昌江黎族西风镇</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/uncle.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>xia@test.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://oous4398f.bkt.clouddn.com/%E6%B0%B4%E6%9E%9C%E5%AE%B4.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>0898-12345678</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
