/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron {
   background-image:url('http://oous4398f.bkt.clouddn.com/pitaya%20%E9%A2%98%E5%9B%BE.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 110px;
 }

 .title {
   font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
   text-align: center;
   margin-top: 200px;
   margin-bottom: 80px;
 }

 .slogan {
   margin-top: 10px;
   margin-bottom: 50px;
   text-align: left;
   color: black;
   top: 12px;
 }

 .lead {
   margin-bottom: 60px;
   text-align: left;
   color: #404040;
 }

 .caption {
   margin: 30px;
   text-align: center;
   top: 20px;
 }

 .thumbnail {
     border: 0 none;
     box-shadow: none;
     margin-top: 60px;
 }

 .custab{
   border: 10px solid #ccc;

   padding: 30px;
   margin: 10% 0;
   box-shadow: 6px 6px 0px #ccc;

   transition: 0.5s;
 }

 .custab:hover{
   box-shadow: 30px 30px 0px transparent;
   transition: 0.5s;
 }
